[submodule "dev-chat-kong-keycloak-jwt-verify"]
	path = kong/plugins/dev-chat-kong-keycloak-jwt-verify
	url = https://github.com/bccalegari/dev-chat-kong-keycloak-jwt-verify.git

[submodule "dev-chat-webapp"]
	path = dev-chat-webapp
	url = https://github.com/bccalegari/dev-chat-webapp.git

[submodule "dev-chat-user-service"]
	path = dev-chat-user-service
	url = git@github.com:bccalegari/dev-chat-user-service.git
